.signup_display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 52rem;
  height: 50rem;
  background-color: white;
  box-shadow: 0px 4px 15px -4px rgba(179, 179, 179, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  &_form {
    display: grid;
    grid-template-rows: repeat(7, min-content);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 0.5rem;

    &-name,
    &-last,
    &-password,
    &-floor,
    &-email,
    &-appt,
    &-res {
      height: 6rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
    }
    &-name {
      grid-row: 1/2;
      grid-column: 1/-1;
      width: 100%;
      &--label {
        width: 80%;
        margin-bottom: 2px;
        text-align: center;
      }
      & > * {
        width: 100%;
      }
    }
    &-last {
      grid-row: 2/3;
      grid-column: 1/-1;
      width: 100%;
      &--label {
        margin-bottom: 2px;
      }
      & > * {
        width: 100%;
      }
    }
    &-email {
      grid-row: 3/4;
      grid-column: 1/-1;
      width: 100%;
      &--label {
        margin-left: 50%;
        margin-bottom: 2px;
      }
      & > * {
        width: 100%;
      }
    }
    &-password {
      grid-row: 4/5;
      grid-column: 1/-1;
      width: 100%;
      &--label {
        margin-left: 50%;
        margin-bottom: 2px;
      }
      & > * {
        width: 100%;
      }
    }
    &-res {
      grid-row: 6/7;
      grid-column: 1/-1;
      width: 100%;
      &--label {
        margin-bottom: 2px;
        width: 50%;
      }
      & > * {
        width: 100%;
      }
    }

    &-floor {
      align-items: flex-end;
      &--label {
        margin-right: 2rem;
        margin-bottom: 2px;
      }
    }

    &-appt {
      align-items: flex-start;

      &--label {
        margin-right: 2rem;
        background-color: rebeccapurple;
        width: 100%;
      }
    }
    &-btn {
      grid-column: 2/-1;
      border-radius: 4px;
      margin-top: 1rem;
      border: none;
      width: 12rem;
      background-color: var(--color-primary);
      height: 3.5rem;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.03);
        backface-visibility: hidden;
      }
      &:focus {
        outline: none;
        transform: scale(1);
      }
    }
  }
}

.s-input {
  height: 4.5rem;
  font-family: inherit;
  font-size: 1.3rem;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 7px;
  width: 80%;
  transition: all 0.2s;
  border-bottom: 2px solid white;

  &:focus {
    outline: none;
    width: 85%;
    background-color: var(--color-grey-light-2);
    border-bottom: 2px solid var(--color-primary);
  }

  &::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4);
  }
}
