.accountPassword {
  height: 70%;
  @include flexCenter;

  &_form {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 90%;

    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &-oldPassword {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      height: 8rem;
      transition: all 0.6s;

      & > h3 {
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        justify-self: flex-start;
        align-self: flex-start;
      }

      &--input {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > * {
          margin-right: 2rem;
        }
      }
    }

    &-newPassword {
      width: 100%;
      transition: all 0.5s;
      position: absolute;
      bottom: 1rem;

      &-box {
        margin-top: 2rem;
        height: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &-input1,
        &-input2 {
          width: 80%;
          height: 8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          & > * {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    &-buttons {
      margin-top: 3rem;
      width: 100%;
      @include flexCenter;
    }
  }
}
.new-password-input,
.password-input {
  transition: all 0.5s;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  width: 100%;
  border-radius: 7px;
  height: 4rem;
  font-size: 2rem;

  &:focus {
    outline: none;
    background-color: var(--color-grey-light-2);
    box-shadow: 0px 0px 6px 1px rgba(113, 137, 191, 1);
  }

  &::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4);
  }
}

.new-password-input {
  width: 80%;
  padding: 0.7rem 2rem;
}
